<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Доверяем spring создание новых объектов и затем извлекаем их из spring application context.
        В Spring-е бином (bean) называют любой класс, который управляется контейнером Spring,
        т.е. такими вещами, как создание экземпляра бина, его инициализация, внедрение зависимостей и параметров,
        деинициализация, генерация всевозможных оберток над бином, занимается не мой код, а IoC-контейнер Spring-а.-->

    <!--Spring при создании bean "questionnaireBean" в качестве аргумента будет принимать адреса
        к csv файлам и bean CsvParserImplBean-->
    <bean id="questionnaireBean" class="com.nuramov.hw01Questionnaire.Questionnaire">
        <constructor-arg index="0" value="Questions.csv"/>
        <constructor-arg index="1" value="Answers.csv"/>
        <constructor-arg index="2" value="ValuesToCheck.csv"/>
        <constructor-arg index="3" ref="csvParserImplBean"/>
    </bean>

    <!--Прописываем наш csv парсер, чтобы внедрить зависимость в класс Questionnaire-->
    <bean id="csvParserImplBean"
          class="com.nuramov.hw01Questionnaire.CsvParser.CsvParserImpl">
    </bean>
</beans>